<!DOCTYPE html>
<html>
<head>
    <title>HackTrack</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
    <script src="/javascripts/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/projectView.css' />
    <link rel='stylesheet' href='/stylesheets/postProject.css' />
    <link rel='stylesheet' href='/stylesheets/edit-project.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
    <link href="/stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/handlebars.runtime-v4.0.2.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/csrf.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/project.js"></script>
    <script src="/javascripts/users.js"></script>
    <script src="/javascripts/posts.js"></script>
</head>
<body>

<div id="main-container"></div>
<br><br><br><br>
<div id="footer">
</div>

<% if(typeof autoload !== 'undefined') { %>
    <div id="autoload" data-modal="<%= autoload.modal %>"
    <% for(var key in autoload.data) { %>
        data-<%= key %>="<%= autoload.data[key] %>"
    <% } %>
    ></div>
<% } %>

</body>
</html>
