We have received a password reset request for your account. If you did not
submit this request, then please ignore this message.

Otherwise,
<a href="http://hacktrack-mit.herokuapp.com/users/profiles/<%= username %>/password?key=<%= key %>">
you may proceed with the password reset</a>.
