#edit-project {
    margin: 0 auto;
    width: 80%;
}

.project-edit-image-links, .remove_imagelink_field, .add_imagelinkEdit_field_button {
    margin-top:5px;
}

.tagit-label {
    color: #000000;
}

.project-edit-tags-input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}