<div class="activityFeed">
    {{> navbar}}
    <div class="text-center"><h3>Latest activity</h3></div><br/>
    {{#each activities}}
        {{> activity}}
    {{else}}
        No activity yet. Follow another member of hacktrack to have their activity appear here.
    {{/each}}
</div>
