<div id="projects" >
	<div class="projectFeed">
		{{> navbar}}
		<ul id="tagSelection">
			{{#each tags}}
				<li class="tagSelector" data-tag="{{this}}">{{this}}</li>
			{{/each}}
		</ul>
		<div id="searchContainer">
			<input type="text" id="searchInput" />
		</div>
		<div id="projectList"></div>
	</div>
</div>
