
<div id="projects" >
    <div class="projectFeed">
        {{> navbar}}
        {{> modals}}

            <ul id="tagSelection" style="position:relative;top:10px;">
                <li class="tagSelector btn btn-default active" data-tag="">All</li>
                {{#each tags}}
                    <li class="tagSelector btn btn-default" data-tag="{{this}}">{{this}}</li>
                {{/each}}
            </ul>

            <div id="projectList" style="top:5px;position:relative;"></div>
            <p><a href="#" id="loadMoreProjects">View more projects</a></p>
        </div>
</div>
