<div id="projects" >
	<div class= "projectFeed">
		<ul class="projectList"> 
	{{> navbar}}
	{{#each projects}}
		<h3>{{date}}</h3>
		{{#each projects}}
			{{> project}}
		{{else}}
			<p><em>No projects posted on this day!</em></p>
		{{/each}}
	{{/each}}
	</ul>
	</div>
</div>