<div id="projects" >
	<div class="projectFeed">
		{{> navbar}}
		<ul id="tagSelection">
			{{#each tags}}
				<li class="tagSelector" data-tag="{{this}}">{{this}}</li>
			{{/each}}
		</ul>
		{{#each projects}}
			<h3>{{prettyDate}}</h3>
			{{#each projects}}
				{{> project}}
			{{else}}
				<p><em>No projects posted on this day!</em></p>
			{{/each}}
		{{/each}}
	</div>
</div>
