<div class="navBar">
	<div class="pageTitle"> 
		<h1>MIT HACKTRACK</h1>
        <a class="btn btn-primary" data-toggle="modal" href="#signInModal" >Login</a>
    </div>
		<div class="navActions">
			<div class="post">
			</div>
			<div class="profile"></div>
		</div>
	<div class="mainImg">
	</div>
</div>