<div class="navBar">

    <div class="page-title">
        <h1 class="home-link"><a href="#" style="text-decoration:none;">MIT HACKTRACK</a></h1>
    </div>

    <div class="navActions">
        <div class="pull-right">
            <a href="#" class="home-link btn btn-primary">HOME</a>
            <a href="#" id="post-project-link" class="btn btn-primary">POST A PROJECT</a>
            {{#if user_logged_in}}
                <i>Logged in as <strong>{{username}}</strong> </i>
                <div class="inline btn-group">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="navAvatar">
                            <div class="userImage"><img src="{{profile_picture}}" width="50" height="39" id="profile-sm"></div>
                        </div>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right text-center">
                        <li><a href="#" class="profile-link">Profile</a></li>
                        <li><a href="#" class="act-feed-link">Activity feed</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" id="logout-link" >Logout</a></li>

                    </ul>
                </div>
            {{else}}
                <a class="btn btn-primary" id="login-link"
                   data-toggle="modal" data-target="#signin" >Login</a>
            {{/if}}
        </div>

        <div class="profile">
        </div>
    </div>
    <div class="mainImg">
    </div>
</div>

