<div class="navBar">
        {{#if user_logged_in}}
        <a href="#" class="profile-link"><div class="navAvatar pull-right">
            <div class="userImage"><img src="https://www.whitehouse.gov/sites/whitehouse.gov/files/images/Administration/People/president_official_portrait_hires.jpg" width="50" height="50"></div>
        </div>
        </a>
        {{/if}}
    <div class="pageTitle">
        <h1 class="home-link"><a href="#" style="text-decoration:none;">MIT HACKTRACK</a></h1>

    </div>

    <div class="navActions">

        {{#if user_logged_in}}
            <div class="pull-right">
                
                <i>Logged in as <strong>{{username}}</strong> </i>
                <a class="btn btn-primary" id="logout-link" >Logout</a>
            </div>
            <div class="post-project"><a href="#" id="post-project-link">POST A PROJECT</a></div>

        {{else}}
            <div class="pull-right">
                <a class="btn btn-primary" id="login-link"
                   data-toggle="modal" data-target="#signin" >Login</a>
            </div>
        {{/if}}

        <div class="profile">
        </div>
    </div>
    <div class="mainImg">
    </div>
</div>




<!--//////////// Modals ///////////-->


<div class="modal fade" id="signin">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Login to Hacktrack</h4>
            </div>
            <div class="modal-body">
                <div class="error">
                    {{#if error}}
                        {{error}}
                    {{/if}}
                </div>
                <form id="signin-form">
                    <div class="form-group">
                        <p><input type="text" class="form-control" name="username" required placeholder="Username"/></p>
                        <p><input type="password" class="form-control" name="password" required placeholder="Password"/></p>
                        <p><button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                New to Hacktrack?
                <a data-toggle="modal" data-target="#register" data-dismiss="modal" class="btn btn-primary" href="#">Register</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="register">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Sign up for Hacktrack</h4>
            </div>
            <div class="modal-body">
                <div class="error">
                    {{#if error}}
                        {{error}}
                    {{/if}}
                </div>
                <form id="register-form">
                    <div class="form-group">
                        <p><input type="text" class="form-control" name="username" required placeholder="Username"/></p>
                        <p><input type="text" class="form-control" name="email" required placeholder="Email"/></p>
                        <p><input type="password" class="form-control" name="password" required placeholder="Password"/></p>
                        <p><input type="password" class="form-control" name="confirm" required placeholder="Confirm password"/></p>
                        <p><button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                Already have an account?
                <a data-toggle="modal" href="#signin" data-dismiss="modal" class="btn btn-primary">Login</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--//////////////////// END MODALS ////////////////////-->

