<div class="navBar">
	<div class="pageTitle"> 
		<h1>MIT HACKTRACK</h1>
	</div> 
		<div class="navActions">
			<div class="post-project"><a href="#" >POST A PROJECT</a></div>
			<div class="profile">
			</div>
		</div>
	<div class="mainImg">
	</div>
</div>