<div class="navBar">

    <div class="page-title">
        <h1 class="home-link"><a href="#" style="text-decoration:none;">MIT HACKTRACK</a></h1>
    </div>

    <div class="mainImg">
    <div class="navActions">
        {{#if isHome}}
            <div id="searchContainer" >
                <div class="input-group">
                    <input type="text" class="form-control" id="searchInput" placeholder="Enter a search term" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" id="searchBtn">Search</button>
                </span>
                </div>
            </div>

        {{/if}}
        <div class="nav-buttons">
            <a href="#" class="home-link btn btn-primary">HOME</a>
            {{#if user_logged_in}}
            <a href="#" id="post-project-link" class="btn btn-primary">POST A PROJECT</a>

                <div class="inline btn-group">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="navAvatar">
                            <div class="userImage"><img src="{{profile_picture}}" width="50" height="39" id="profile-sm"></div>
                        </div>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right text-center">
                        <li><a href="#" class="profile-link">Profile</a></li>
                        <li><a href="#" class="act-feed-link">Activity feed</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" id="logout-link" >Logout</a></li>

                    </ul>
                    <i>Logged in as <strong>{{username}}</strong> </i>
                </div>
            {{else}}
                <a class="btn btn-primary" id="login-link"
                   data-toggle="modal" data-target="#signin" >Login</a>
            {{/if}}
        </div>
    </div>
</div>

</div>
