{{> navbar}}
<div class="error"></div>
<form id="post-project">
  <fieldset class="form-group">
    <label for="projectTitle">Project Title *</label>
    <input type="text" class="form-control" id="project-post-title" placeholder="Enter project title..." maxlength="100" required>
  </fieldset>
  <fieldset class="form-group">
    <label for="projectDescription">Project Description *</label>
    <textarea class="form-control" id="project-post-description" rows="3" placeholder="Enter project description..." required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="projectTags">Project Tags</label>
    <input type="text" data-role="tagsinput" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control" id="project-post-tags" placeholder="Enter project tags..."/>
    <small class="text-muted">Click enter after entering each tag</small>
  </fieldset>
  <fieldset class="form-group">
    <div class="image_input_fields_wrap">
      <label for="projectImageLinks">Project Image Links</label>
      <small class="text-muted">(Enter one link per input field, max 5 images)</small>
      <div><input type="text" class="form-control project-post-image-links" placeholder="Enter project image link..."></div>
      <button type="button" class="btn btn-success btn-sm add_imagelink_field_button">Add more images</button>
    </div>
  </fieldset>
  <hr />
  <button type="button" class="btn btn-primary" id="submit-project-post">Submit</button>
  <button type="button" class="btn btn-danger" id="cancel-project-post">Cancel</button>
</form>

