{{> navbar}}
<form id="post-project">
    <h1 class="project-post-label-h1">Post New Project</h1>
    <div class="alert alert-danger" id="post-project-error" style="display:none;"></div>
    <fieldset class="form-group">
        <label for="projectTitle">Project Title *</label>
        <input type="text" class="form-control" id="project-post-title" placeholder="Enter project title..." maxlength="100" required>
    </fieldset>
    <fieldset class="form-group">
        <label for="projectDescription">Project Description *</label>
        <textarea class="form-control" id="project-post-description" rows="3" placeholder="Enter project description..." required></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="projectVideoLink">Project Video Link </label>
        <small class="text-muted">(Only YouTube videos)</small>
        <input type="text" class="form-control" id="project-post-videoLink" placeholder="Enter project video link..." required>
    </fieldset>
    <fieldset class="form-group">
        <label for="projectTags">Project Tags</label>
        <small class="text-muted">(Click enter after entering each tag)</small>
        <ul id="project-post-tags" class="form-control"></ul>
    </fieldset>
    <fieldset class="form-group">
        <div class="image_input_fields_wrap">
            <label for="projectImageLinks">Project Image Links</label>
            <small class="text-muted">(Enter one link per input field, max 5 images)</small>
            <div><input type="text" class="form-control project-post-image-links" placeholder="Enter project image link..."></div>
            <button type="button" class="btn btn-success btn-sm add_imagelink_field_button">Add more images</button>
        </div>
    </fieldset>
    <hr />
    <button type="button" class="btn btn-primary" id="submit-project-post">Submit</button>
    <button type="button" class="btn btn-danger" id="cancel-project-post">Cancel</button>
</form>
