{{> navbar}}
<div class="error"></div>
<form class="pure-form pure-form-aligned" id="post-project">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Title</label>
            <input id="project-post-title" type="text" placeholder="Title">
        </div>

        <div class="pure-control-group">
            <label for="foo">Description</label>
            <textarea id="project-post-description" placeholder="Enter description of a project..."></textarea>
        </div>

        <div class="pure-control-group">
            <label for="foo">Image Links</label>
            <textarea id="project-post-image-links" placeholder="Enter image links separated by commas..."></textarea>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>