{{> navbar}}
<main class="page-main">
	<header class="profileHeader">
		<div class="profileContainer">
			<div class="profileAvatar">
				<span class="userImage"><img src="https://www.whitehouse.gov/sites/whitehouse.gov/files/images/Administration/People/president_official_portrait_hires.jpg" width="110" height="110"></span>
			</div>
			<div class="profileInfo">
				<h1 class="profileInfoTitle">
					Barack Obama
				</h1>
			</div>
			<div class="profileNavigation">
				<ul>
					<li class="profile-navigation-tab">
						<a href="#">
							Favorites
						</a>
					</li>
					<li class="profile-navigation-tab">
						<a href="#">My Projects</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
</main>