{{> navbar}}
<div class="projectMain" >
	<div id="project-owner"> The owner of the project <span id="owner-label"> {{project.owner}} </span> </div>
	<br />
	<div class="projectContent">
		<div id="project-title"><p id="title-label">Title:</p>{{project.title}}</div>
		<br />
		{{#each project.imageLinks}}
			<div id="project-image"> <img style="height:200px; width:200px" src={{this}}> </div>
		{{/each}}
		<br />

		<div id="project-content"> <p id="description-label">Description:</p>{{project.description}}</div>
	</div>

</div>

<div class="projectDiscussion">

</div>
