<div id="top_menu">

	<p>
		<input type="text" name="search_box" placeholder="search">
		{{#if user_logged_in}}
			<a href="#" id="logout-link">Logout</a>
		{{else}}
			<a href="#" id="login-link">Login</a>
		{{/if}}
	</p>

</div>