{{> navbar}}
<main class="page-main">
    <header class="profileHeader">
        <div class="profileContainer">
            <div class="profileAvatar">
                <span class="userImage"><img src="https://www.whitehouse.gov/sites/whitehouse.gov/files/images/Administration/People/president_official_portrait_hires.jpg" width="110" height="110"></span>
            </div>
            <div class="profileInfo">
                <h1 class="profileInfoTitle">
                    {{user}}
                </h1>
            </div>
        </div>
    </header>
    <div >
        <div class= "projectFeed">
            <ul class="projectList">
                {{#each projects}}
                    {{> project}}
                {{else}}
                    <p><em>No projects yet!</em></p>
                {{/each}}
            </ul>
        </div>
    </div>
</main>