Thanks for signing up to use MIT HackTrack!<br/>
Please click the link below to activate your account: <br/>
<a href='http://hacktrack-mit.herokuapp.com/users/activate?username=<%= username %>&key=<%= key %>'>Verify your account</a>
<br/><br/>
The MIT Hacktrack team<br/>
<a href='http://hacktrack-mit.herokuapp.com'>hacktrack-mit.herokuapp.com</a>
