html{
	font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
	}
.navBar{
	width:100%;
	
}
.pageTitle{
	margin:0 auto;
	width:300px;
}
.mainImg{
	margin:0 auto;
	height:75px;
	min-width:350px;
	background-color:#f7f7fa;
	border-bottom:1px solid #e4e2e2; 
}
